<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConString" connectionString="server=localhost; database=active_konveksi; user id=root; password=GlobalMedia2016;Allow User Variables=True"/>
  </connectionStrings>
  <appSettings>
    <add key="msg_success_insert" value="Data has been saved !"/>
    <add key="msg_success_delete" value="Data has been deleted !"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="pathRDLC" value="\RepBarcode.rdlc"/>
  </appSettings>
</configuration>